<ion-view view-title="FEED">
  <ion-content>
		<div class="feed-poster-cover">
			<div class="feed-text">
				<h4>Sean Malto Tip</h4>
				<h1>Ready To OverCrook</h1>
				<h5>The pro skater gives his advice for his favorite trick</h5>
			</div>
			<div class="feed-shares">

				<button class="button icon-left button-clear button-dark feed-share-ind">
					<i class="ion-heart feed-share-ind"></i>
				</button>

				<button class="button icon-left button-clear button-dark feed-share-ind">
					<i class="ion-chatbubble-working feed-share-ind"></i>
				</button>

				<button class="button icon-left button-clear button-dark feed-share-ind" ng-click="show()">
					<i class="ion-ios-redo feed-share-ind"></i>
				</button>

			</div>

		</div>
  </ion-content>
</ion-view>
