<ion-view view-title="Inbox">
  <ion-content class="padding">
    <ion-list>
    	<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="message in messages" href="#/tab/messages/{{message.id}}">
    		<img ng-src="{{message.img}}" alt="">
				<h2>{{message.title}}</h2>
				<h3 style="color:grey">{{message.messageP}}</h3>
				<ion-option-button class="button-assertive" ng-click="remove(message)">
          Delete
		
        </ion-option-button>
    	</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
